{namespace s=Tx_SfBanners_ViewHelpers}
<f:if condition="{banner.flash}">
    <div class="banner banner-{banner.uid}">
        <object id="flash-banner-{banner.uid}" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="{banner.flashWidth}" height="{banner.flashHeight}">
            <f:if condition="{banner.link}">
                <f:then>
                    <param name="movie" value="uploads/tx_sfbanners/{banner.flash}?clickTag={f:uri.action(action: 'click', absolute: 'true', arguments: {banner: banner})}">
                </f:then>
                <f:else>
                    <param name="movie" value="uploads/tx_sfbanners/{banner.flash}">
                </f:else>
            </f:if>
            <param name="quality" value="high">
            <param name="allowScriptAccess" value="<s:flash.params banner='{banner}' flashSetting='allowScriptAccess'/>">
            <param name="wmode" value="<s:flash.params banner='{banner}' flashSetting='wmode'/>">
            <f:if condition="{banner.link}">
                <f:then>
                    <embed src="uploads/tx_sfbanners/{banner.flash}?clickTag={s:format.urlencode(value: '{f:uri.action(action: \'click\', absolute: \'true\', arguments: {banner: banner})}')}"
                           width="{banner.flashWidth}" height="{banner.flashHeight}" wmode="{banner.flashParamWmode}" swliveconnect="true" quality="autohigh"
                           type="application/x-shockwave-flash" allowscriptaccess="{banner.flashParamAllowScriptAccess}">
                </f:then>
                <f:else>
                    <embed src="uploads/tx_sfbanners/{banner.flash}"
                           width="{banner.flashWidth}" height="{banner.flashHeight}" wmode="{banner.flashParamWmode}" swliveconnect="true" quality="autohigh"
                           type="application/x-shockwave-flash" allowscriptaccess="{banner.flashParamAllowScriptAccess}">
                </f:else>
            </f:if>
        </object>
        @todo
        {s:flash.params(banner: {banner}, flashSetting: 'wmode')}
    </div>
</f:if>
