<f:if condition="{banner.assets}">
    <f:then>
        <f:for each="{banner.assets}" as="asset">
            <div class="banner banner-{banner.uid}">
                <f:if condition="{asset.originalResource.properties.link}">
                    <f:then>
                        <f:link.action action="click" arguments="{banner: banner}" target="{banner.linkTarget}" pageType="{settings.clickPageTypeNum}" rel="nofollow">
                            <f:image image="{asset}" />
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:image image="{asset}" />
                    </f:else>
                </f:if>
            </div>
        </f:for>
    </f:then>
</f:if>