<f:if condition="{banner.image}">
    <div class="banner banner-{banner.uid}">
        <f:if condition="{banner.link}">
            <f:then>
                <f:link.action action="click" arguments="{banner: banner}" target="{banner.linkTarget}" pageType="{settings.clickPageTypeNum}">
                    <f:if condition="{settings.imgCrop}">
                        <f:then>
                            <f:image class="croppedImage" src="uploads/tx_sfbanners/{banner.image}" title="{banner.alttext}" alt="{banner.alttext}" width="{settings.imgWidth}" height="{settings.imgHeight}" />
                        </f:then>
                        <f:else>
                            <f:image src="uploads/tx_sfbanners/{banner.image}" title="{banner.alttext}" alt="{banner.alttext}" />
                        </f:else>
                    </f:if>
                </f:link.action>
            </f:then>
            <f:else>
                <f:if condition="{settings.imgCrop}">
                        <f:then>
                            <f:image class="croppedImage" src="uploads/tx_sfbanners/{banner.image}" title="{banner.alttext}" alt="{banner.alttext}" width="{settings.imgWidth}" height="{settings.imgHeight}" />
                        </f:then>
                        <f:else>
                            <f:image src="uploads/tx_sfbanners/{banner.image}" title="{banner.alttext}" alt="{banner.alttext}" />
                        </f:else>
                    </f:if>
            </f:else>
        </f:if>
    </div>
</f:if>